autom4te.cache/
config.log
config.status
Makefile
src/Makefile
tests/Makefile

*.o
*.lo
*.la
.deps/
.libs/

src/qp
tests/test_main
tests/test_makefs

# automake parallel test harness artifacts
*.trs
*.log
.dirstamp

config.h
config.h.in
stamp-h1

po/Makefile
po/*.gmo
po/locale/

*~
